<div class="card">
  <div class="card-header">Template form</div>
  <div class="card-body">
    <form #myForm="ngForm" (ngSubmit)="handleTemplateSubmit(myForm)">
      <div>Name: <input type="text" name="name" class="form-control" ngModel required></div>
      <div>Email: <input type="text" name="email" class="form-control" ngModel email></div>
      <button class="btn btn-danger">Submit</button>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-header">Reactive form</div>
  <div class="card-body">
    <form [formGroup]="reactiveForm" (ngSubmit)="handleReactiveSubmit()">
      <div>Name: <input type="text" formControlName="name" class="form-control"></div>
      <div>Email: <input type="text"  formControlName="email" class="form-control"></div>
      <div><br-nie-wiem-control  formControlName="niewiem" ></br-nie-wiem-control></div>
      <div>
        <div *ngFor="let control of ulubioneControls">
          Ulubione: <input [formControl]="control">
        </div>
        <button  class="btn btn-primary btn-sm" (click)="addCostamControl()">Dodaj kolejne ulubione cośtam</button></div>
      <button class="btn btn-warning">Submit</button>
    </form>
  </div>
  {{ reactiveForm.value | json }}
</div>

<div *ngIf="testObj.counter > 1000; else malo">Za dużo</div>
<br-test-child [testInput]="testObj" title="{{ 'Example Child Component' | uppercase }}"></br-test-child>
<br-test-counter (incrementCounter)="incrementHandler($event)"></br-test-counter>
<div><input type="text" #myInput (keyup)="keyupHandler(myInput.value)">
{{ myInput.value }}</div>
<ul>
  <li *ngFor="let user of users;let isOdd = odd; let i = index" [ngClass]="{ highlight: isOdd}">
    ({{ i }}) {{ user | test:true }}
<!-- NEVER!!!!!!!! ->    {{fullName(user.name, user.lastName)}}-->
  </li>
</ul>

<!-- templates -->

<ng-template #malo><div>Za malo</div></ng-template>
